<a href="https://colab.research.google.com/github/sungeun532/BigPyson/blob/master/Bigcon_Munji.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from scipy import stats

In [ ]:
#munji = pd.read_excel('2019미세먼지.xlsx')
munji = pd.read_excel('/content/2019미세먼지.xlsx')

In [1]:
#population_only_total = pd.read_excel('2019총인구비율(수정).xlsx') # 지역별 인구수 ()
#population_only_woman = pd.read_excel('2019여성인구비율.xlsx')
population_only_total = pd.read_excel('/content/drive/My Drive/빅콘폴더/인구 미세먼지관련/2019총인구비율(수정).xlsx')
population_only_woman = pd.read_excel('/content/drive/My Drive/빅콘폴더/인구 미세먼지관련/2019여성인구비율.xlsx')
population_only_man = pd.read_excel('/content/drive/My Drive/빅콘폴더/인구 미세먼지관련/2019남자인구비율.xlsx')

NameError: ignored

In [ ]:
print(munji) # 각 지역별 평균 미세먼지 양 수원=경기남 파주=경기북

    지역날짜  2019. 01  2019. 02  2019. 03  ...  2019. 09  2019. 10  2019. 11  2019. 12
0  서울특별시        38        35        45  ...        12        15        20        28
1  부산광역시        29        29        30  ...        13        13        17        23
2  울산광역시        26        26        29  ...        13        11        15        20
3    경기남        40        36        46  ...        13        16        21        29
4    경기북        47        39        49  ...        15        20        27        35
5    강원도        23        25        32  ...        10        13        15        17
6  광주광역시        33        34        39  ...        15        18        21        22
7  대구광역시        33        32        33  ...        13        14        21        29
8  대전광역시        35        36        39  ...        12        15        21        25

[9 rows x 13 columns]

In [ ]:
munji_df = munji.set_index("지역날짜")
population_total_df = population_only_total.set_index('행정구역(시군구)별')

In [ ]:
population_total_df,munji_df

(              1월총인구수    2월총인구수    3월총인구수  ...   10월총인구수   11월총인구수   12월총인구수
 행정구역(시군구)별                                ...
 서울특별시       0.188443  0.188527  0.188519  ...  0.187864  0.187792  0.187725
 부산광역시       0.066342  0.066303  0.066262  ...  0.065968  0.065926  0.065871
 울산광역시       0.022282  0.022262  0.022244  ...  0.022178  0.022169  0.022151
 경기남         0.126294  0.126429  0.126544  ...  0.127531  0.127620  0.127731
 경기북         0.126294  0.126429  0.126544  ...  0.127531  0.127620  0.127731
 강원도         0.029747  0.029723  0.029724  ...  0.029732  0.029742  0.029744
 광주광역시       0.028168  0.028156  0.028150  ...  0.028159  0.028150  0.028103
 대구광역시       0.047474  0.047430  0.047386  ...  0.047148  0.047111  0.047042
 대전광역시       0.028725  0.028704  0.028685  ...  0.028527  0.028498  0.028458

 [9 rows x 12 columns],
        2019. 01  2019. 02  2019. 03  ...  2019. 10  2019. 11  2019. 12
 지역날짜                                 ...
 서울특별시        38        35        45  ...        15        20        28
 부산광역시        29        29        30  ...        13        17        23
 울산광역시        26        26        29  ...        11        15        20
 경기남          40        36        46  ...        16        21        29
 경기북          47        39        49  ...        20        27        35
 강원도          23        25        32  ...        13        15        17
 광주광역시        33        34        39  ...        18        21        22
 대구광역시        33        32        33  ...        14        21        29
 대전광역시        35        36        39  ...        15        21        25

 [9 rows x 12 columns])

총 인구수만 고려, 위 두 행렬값들을 각각 곱한 결과

In [ ]:
total_weighted_munji = pd.DataFrame().reindex_like(munji_df)
total_weighted_munji

       2019. 01  2019. 02  2019. 03  ...  2019. 10  2019. 11  2019. 12
지역날짜                                 ...
서울특별시       NaN       NaN       NaN  ...       NaN       NaN       NaN
부산광역시       NaN       NaN       NaN  ...       NaN       NaN       NaN
울산광역시       NaN       NaN       NaN  ...       NaN       NaN       NaN
경기남         NaN       NaN       NaN  ...       NaN       NaN       NaN
경기북         NaN       NaN       NaN  ...       NaN       NaN       NaN
강원도         NaN       NaN       NaN  ...       NaN       NaN       NaN
광주광역시       NaN       NaN       NaN  ...       NaN       NaN       NaN
대구광역시       NaN       NaN       NaN  ...       NaN       NaN       NaN
대전광역시       NaN       NaN       NaN  ...       NaN       NaN       NaN

[9 rows x 12 columns]

In [ ]:
for i in range(9):
  for j in range(12):
    total_weighted_munji.iloc[i][j] = munji_df.iloc[i][j]*population_total_df.iloc[i][j]
total_weighted_munji

       2019. 01  2019. 02  2019. 03  ...  2019. 10  2019. 11  2019. 12
지역날짜                                 ...
서울특별시  7.160824  6.598434  8.483334  ...  2.817959  3.755846  5.256309
부산광역시  1.923918  1.922782  1.987847  ...  0.857583  1.120749  1.515029
울산광역시  0.579328  0.578801  0.645063  ...  0.243959  0.332531  0.443026
경기남    5.051741  4.551446  5.821010  ...  2.040495  2.680027  3.704204
경기북    5.935795  4.930733  6.200641  ...  2.550619  3.445749  4.470591
강원도    0.684188  0.743081  0.951170  ...  0.386515  0.446125  0.505642
광주광역시  0.929537  0.957296  1.097865  ...  0.506856  0.591152  0.618263
대구광역시  1.566630  1.517771  1.563731  ...  0.660078  0.989328  1.364229
대전광역시  1.005385  1.033332  1.118722  ...  0.427901  0.598462  0.711449

[9 rows x 12 columns]

In [ ]:
result_munji_df = total_weighted_munji.sum()
result_munji_df

2019. 01    24.837347
2019. 02    22.833675
2019. 03    27.869383
2019. 04    13.450065
2019. 05    18.012409
2019. 06    12.980445
2019. 07    11.941034
2019. 08    11.264766
2019. 09     8.645412
2019. 10    10.491966
2019. 11    13.959968
2019. 12    18.588743
dtype: float64

In [ ]:
# 전체 인구비율로 상관계수 알아보기-> 전체인구비율은 큰 의미가 없음. 테스트용이다.

stats.linregress(result_munji_df,grouped_month_item.xs('건강기능')['주문량'])

LinregressResult(slope=-2.7291740256538892, intercept=407.37472122659375, rvalue=-0.20235046747065535, pvalue=0.5282320904632236, stderr=4.176847441838606)

In [ ]:
cor_with_categories(result_munji_df) # 전체인구... 건강기능, 주방 0.53,0.48 (이것도 비슷하군?)

침구,가구,건강기능,농수축,생활용품,속옷,의류,이미용,잡화,주방,침구

[LinregressResult(slope=0.01745940825731298, intercept=10.29047563067633, rvalue=0.3665957742557484, pvalue=0.37173460572226097, stderr=0.01808951635025846),
 LinregressResult(slope=-0.46854746253398094, intercept=24.66800107978842, rvalue=-0.3216897939897602, pvalue=0.33470084482412077, stderr=0.4596994635655932),
 LinregressResult(slope=-0.015002968407550513, intercept=21.68648909179745, rvalue=-0.20235046747065535, pvalue=0.5282320904632236, stderr=0.02296119984435537),
 LinregressResult(slope=-0.035647481604915356, intercept=50.73474463328475, rvalue=-0.3606546435357546, pvalue=0.24944665195708043, stderr=0.029152717020783075),
 LinregressResult(slope=0.05471428958403271, intercept=5.101507444918818, rvalue=0.6139896468471299, pvalue=0.03368426890495773, stderr=0.022242805558577355),
 LinregressResult(slope=-0.031291519487109676, intercept=27.696120365109923, rvalue=-0.4441258619486756, pvalue=0.14806155473923707, stderr=0.01996233532432464),
 LinregressResult(slope=-0.024293380539726826, intercept=25.751973773390606, rvalue=-0.32503930360871863, pvalue=0.30259234077978886, stderr=0.02235144971393829),
 LinregressResult(slope=0.023976082663853527, intercept=-2.6125961551538204, rvalue=0.5298168758504425, pvalue=0.07644509061388455, stderr=0.012136841552952369),
 LinregressResult(slope=0.043555677008738976, intercept=4.646522068226657, rvalue=0.6224797640994271, pvalue=0.030640498410868636, stderr=0.01731726461406774),
 LinregressResult(slope=-0.045405103994300894, intercept=25.00343561311015, rvalue=-0.22611659817271626, pvalue=0.4797723641516135, stderr=0.061855152714812144),
 LinregressResult(slope=0.01745940825731298, intercept=10.29047563067633, rvalue=0.3665957742557484, pvalue=0.37173460572226097, stderr=0.01808951635025846)]

#상품군별로 월별 평균주문량 vs 월별 평균 미세먼지 비교(아래 제품군 공통사항)

#여성 인구수만 고려

In [ ]:
population_woman_df = population_only_woman.set_index('행정구역(시군구)별')
population_woman_df

             1월여자인구수   2월여자인구수   3월여자인구수  ...  10월여자인구수  11월여자인구수  12월여자인구수
행정구역(시군구)별                                ...
서울특별시       0.096350  0.096419  0.096439  ...  0.096230  0.096205  0.096188
부산광역시       0.033723  0.033708  0.033695  ...  0.033583  0.033565  0.033543
울산광역시       0.010831  0.010822  0.010814  ...  0.010788  0.010783  0.010773
경기남         0.062767  0.062831  0.062885  ...  0.063370  0.063420  0.063478
경기북         0.062767  0.062831  0.062885  ...  0.063370  0.063420  0.063478
강원도         0.014780  0.014770  0.014770  ...  0.014781  0.014783  0.014782
광주광역시       0.014219  0.014211  0.014209  ...  0.014219  0.014216  0.014196
대구광역시       0.023963  0.023944  0.023928  ...  0.023832  0.023815  0.023786
대전광역시       0.014373  0.014365  0.014356  ...  0.014279  0.014266  0.014245

[9 rows x 12 columns]

In [ ]:
woman_weighted_df = weighted_munji(munji_df,population_woman_df)
woman_only_seoul = woman_weighted_df[woman_weighted_df.index=='서울특별시']

In [ ]:
woman_weighted_df = weighted_munji(munji_df,population_woman_df).sum() #함수호출 및 월별로 합계
woman_weighted_df

2019. 01    12.484569
2019. 02    11.481677
2019. 03    14.014574
2019. 04     6.766506
2019. 05     9.061288
2019. 06     6.532986
2019. 07     6.008642
2019. 08     5.665599
2019. 09     4.347492
2019. 10     5.275934
2019. 11     7.020567
2019. 12     9.352337
dtype: float64

In [ ]:
woman_only_seoul = woman_only_seoul.transpose()
woman_only_seoul = woman_only_seoul.squeeze()
woman_only_seoul

2019. 01    3.661302
2019. 02    3.374661
2019. 03    4.339761
2019. 04    2.024950
2019. 05    2.795557
2019. 06    1.927374
2019. 07    1.830227
2019. 08    1.540497
2019. 09    1.155098
2019. 10    1.443447
2019. 11    1.924097
2019. 12    2.693254
Name: 서울특별시, dtype: float64

#상품군 월별 주문량자료 생성(for 상관계수 비교)

In [ ]:
categories = grouped_month_item.index.get_level_values(0).unique()
categories

Index(['가구', '가전', '건강기능', '농수축', '생활용품', '속옷', '의류', '이미용', '잡화', '주방', '침구'], dtype='object', name='상품군')

In [ ]:
for i in categories:
  globals()['month_{}'.format(i)] = grouped_month_item.xs(i)['주문량']

In [ ]:
woman_weighted_df.iloc[month_가구.index-1] # 특정월 판매자료가없는 상품군도 있기 떄문에, 해당 특성을 고려해서 먼지자료도 인덱싱 해야함. -1은 12월->11로 접근해야 하기 때문에... 한칸씩 앞당김

2019. 02    11.481677
2019. 03    14.014574
2019. 04     6.766506
2019. 05     9.061288
2019. 06     6.532986
2019. 07     6.008642
2019. 08     5.665599
2019. 09     4.347492
2019. 10     5.275934
2019. 11     7.020567
2019. 12     9.352337
dtype: float64

In [ ]:
#각 상품군 월별 주문량과 상관계수 비교
result_woman_weight = cor_with_categories(woman_weighted_df)
result_woman_weight #건강기능 0.53 주방 0.48

침구,가구,건강기능,농수축,생활용품,속옷,의류,이미용,잡화,주방,침구

[LinregressResult(slope=0.00880433908988215, intercept=5.173641554785889, rvalue=0.36734502570342903, pvalue=0.37068265574829445, stderr=0.009100588829705688),
 LinregressResult(slope=-0.23604458989455457, intercept=12.415051984548896, rvalue=-0.32230895899777395, pvalue=0.3337180946436624, stderr=0.23109085591184012),
 LinregressResult(slope=-0.007522740948330923, intercept=10.898842177215181, rvalue=-0.20184445719656016, pvalue=0.5292860355822409, stderr=0.011543225461729825),
 LinregressResult(slope=-0.017912441701716218, intercept=25.501086161466937, rvalue=-0.3605214991931016, pvalue=0.24963434703078372, stderr=0.014655117341379927),
 LinregressResult(slope=0.02750914209377255, intercept=2.5676921784740605, rvalue=0.6141168785163399, pvalue=0.03363711944066454, stderr=0.011179474604246993),
 LinregressResult(slope=-0.01572605771506891, intercept=13.925339335589957, rvalue=-0.44403068134477286, pvalue=0.14815884437335503, stderr=0.010035072365258527),
 LinregressResult(slope=-0.012199560948205805, intercept=12.944569337463236, rvalue=-0.3247176015695768, pvalue=0.3030990822158848, stderr=0.011236802270799847),
 LinregressResult(slope=0.012057660442688958, intercept=-1.3131587288266768, rvalue=0.5300591226590762, pvalue=0.07628562223881334, stderr=0.006099783966523114),
 LinregressResult(slope=0.021903512278758103, intercept=2.337691121441666, rvalue=0.6227416792751793, pvalue=0.030549867386606103, stderr=0.008702618311345611),
 LinregressResult(slope=-0.022772761566530405, intercept=12.563149542434697, rvalue=-0.22560938994632268, pvalue=0.4807847029920369, stderr=0.03109672169018631),
 LinregressResult(slope=0.00880433908988215, intercept=5.173641554785889, rvalue=0.36734502570342903, pvalue=0.37068265574829445, stderr=0.009100588829705688)]

In [ ]:
# 오직 서울로만 비교했을때 
result_woman_seoul = cor_with_categories(woman_only_seoul)
result_woman_seoul #건강기능 0.53 주방 0.48

침구,가구,건강기능,농수축,생활용품,속옷,의류,이미용,잡화,주방,침구

[LinregressResult(slope=0.0032316759324689656, intercept=1.4039189567194463, rvalue=0.3861113317610663, pvalue=0.3447759868138968, stderr=0.0031519803143007985),
 LinregressResult(slope=-0.07915100193867035, intercept=3.8330082699851324, rvalue=-0.33484707386194057, pvalue=0.31414837319580186, stderr=0.07424464992790329),
 LinregressResult(slope=-0.002345178091079644, intercept=3.243945197699102, rvalue=-0.19823132024004453, pvalue=0.5368376713761661, stderr=0.0036668946431243554),
 LinregressResult(slope=-0.006488976564685827, intercept=8.671733214244917, rvalue=-0.41144170230433913, pvalue=0.18390365044627144, stderr=0.004545630322351704),
 LinregressResult(slope=0.009169568632687851, intercept=0.5258855779389313, rvalue=0.6448795672846576, pvalue=0.023563916404758408, stderr=0.003436569823692135),
 LinregressResult(slope=-0.004958958440538114, intercept=4.208103528795801, rvalue=-0.44110228470686347, pvalue=0.15117217550457696, stderr=0.0031905439532368064),
 LinregressResult(slope=-0.0037980629036226, intercept=3.8796972219859462, rvalue=-0.31847805097652304, pvalue=0.3130210576008246, stderr=0.0035748598667687363),
 LinregressResult(slope=0.003774774658284107, intercept=-0.5755555059124289, rvalue=0.5227668243798278, pvalue=0.0811864138238446, stderr=0.0019465476018563764),
 LinregressResult(slope=0.007073542365435841, intercept=0.509776101521122, rvalue=0.6335586955411523, pvalue=0.026972713667191336, stderr=0.00273161623455546),
 LinregressResult(slope=-0.007720850754552018, intercept=3.882753494168651, rvalue=-0.2409696538163815, pvalue=0.4505670051188416, stderr=0.009833609413097931),
 LinregressResult(slope=0.0032316759324689656, intercept=1.4039189567194463, rvalue=0.3861113317610663, pvalue=0.3447759868138968, stderr=0.0031519803143007985)]

#여성:남성 비율 조정해서 곱해보기
홈쇼핑 이용성비 8:2정도라면 반영해보기

In [ ]:
population_only_man,population_only_woman

(  행정구역(시군구)별  1월남자인구비율  2월남자인구비율  ...  10월남자인구비율  11월남자인구비율  12월남자인구비율
 0      서울특별시  0.092093  0.092108  ...   0.091634   0.091587   0.091538
 1      부산광역시  0.032619  0.032595  ...   0.032384   0.032361   0.032328
 2      울산광역시  0.011450  0.011439  ...   0.011391   0.011386   0.011379
 3        경기남  0.063527  0.063598  ...   0.064161   0.064201   0.064253
 4        경기북  0.063527  0.063598  ...   0.064161   0.064201   0.064253
 5        강원도  0.014967  0.014954  ...   0.014951   0.014959   0.014961
 6      광주광역시  0.013949  0.013944  ...   0.013940   0.013934   0.013907
 7      대구광역시  0.023511  0.023486  ...   0.023317   0.023295   0.023256
 8      대전광역시  0.014353  0.014339  ...   0.014248   0.014232   0.014213

 [9 rows x 13 columns],
   행정구역(시군구)별   1월여자인구수   2월여자인구수  ...  10월여자인구수  11월여자인구수  12월여자인구수
 0      서울특별시  0.096350  0.096419  ...  0.096230  0.096205  0.096188
 1      부산광역시  0.033723  0.033708  ...  0.033583  0.033565  0.033543
 2      울산광역시  0.010831  0.010822  ...  0.010788  0.010783  0.010773
 3        경기남  0.062767  0.062831  ...  0.063370  0.063420  0.063478
 4        경기북  0.062767  0.062831  ...  0.063370  0.063420  0.063478
 5        강원도  0.014780  0.014770  ...  0.014781  0.014783  0.014782
 6      광주광역시  0.014219  0.014211  ...  0.014219  0.014216  0.014196
 7      대구광역시  0.023963  0.023944  ...  0.023832  0.023815  0.023786
 8      대전광역시  0.014373  0.014365  ...  0.014279  0.014266  0.014245

 [9 rows x 13 columns])

In [ ]:
population_man_df = population_only_man.set_index('행정구역(시군구)별')
population_man_df

            1월남자인구비율  2월남자인구비율  3월남자인구비율  ...  10월남자인구비율  11월남자인구비율  12월남자인구비율
행정구역(시군구)별                                ...
서울특별시       0.092093  0.092108  0.092079  ...   0.091634   0.091587   0.091538
부산광역시       0.032619  0.032595  0.032566  ...   0.032384   0.032361   0.032328
울산광역시       0.011450  0.011439  0.011430  ...   0.011391   0.011386   0.011379
경기남         0.063527  0.063598  0.063659  ...   0.064161   0.064201   0.064253
경기북         0.063527  0.063598  0.063659  ...   0.064161   0.064201   0.064253
강원도         0.014967  0.014954  0.014954  ...   0.014951   0.014959   0.014961
광주광역시       0.013949  0.013944  0.013941  ...   0.013940   0.013934   0.013907
대구광역시       0.023511  0.023486  0.023458  ...   0.023317   0.023295   0.023256
대전광역시       0.014353  0.014339  0.014330  ...   0.014248   0.014232   0.014213

[9 rows x 12 columns]

In [ ]:
mix_weighted_munji = 0.2*weighted_munji(munji_df,population_man_df) + 0.8*weighted_munji(munji_df,population_woman_df)
mix_weighted_munji

        2019. 01  2019. 02  2019. 03  ...  2019. 10  2019. 11  2019. 12
지역날짜                                  ...
서울      3.628946  3.344483  4.300523  ...  1.429660  1.905628  2.667214
부산      0.971562  0.971081  1.004084  ...  0.433468  0.566514  0.765903
울산      0.284835  0.284589  0.317172  ...  0.119989  0.163550  0.217877
수원(경기)  2.516746  2.267440  2.899827  ...  1.016450  1.335093  1.845360
파주(경기)  2.957177  2.456393  3.088946  ...  1.270563  1.716548  2.227159
강릉(강원)  0.340806  0.370161  0.473818  ...  0.192596  0.222272  0.251909
광주      0.467448  0.481370  0.552072  ...  0.254935  0.297348  0.311040
대구      0.787790  0.763279  0.786513  ...  0.332200  0.497939  0.686724
대전      0.502900  0.516944  0.559667  ...  0.214093  0.299443  0.355964

[9 rows x 12 columns]

In [ ]:
mix_weighted_df = mix_weighted_munji.sum()
mix_weighted_df

2019. 01    12.458211
2019. 02    11.455741
2019. 03    13.982621
2019. 04     6.749916
2019. 05     9.039254
2019. 06     6.515881
2019. 07     5.993392
2019. 08     5.652313
2019. 09     4.337577
2019. 10     5.263954
2019. 11     7.004334
2019. 12     9.329150
dtype: float64

In [ ]:
mix_weighted_seoul  = mix_weighted_munji[mix_weighted_munji.index=='서울']
mix_weighted_seoul = mix_weighted_seoul.transpose()
mix_weighted_seoul = mix_weighted_seoul.squeeze()
mix_weighted_seoul

2019. 01    3.628946
2019. 02    3.344483
2019. 03    4.300523
2019. 04    2.006478
2019. 05    2.769829
2019. 06    1.909490
2019. 07    1.813128
2019. 08    1.525994
2019. 09    1.144122
2019. 10    1.429660
2019. 11    1.905628
2019. 12    2.667214
Name: 서울, dtype: float64

In [ ]:
result_mix_df = cor_with_categories(mix_weighted_df)
result_mix_df # 여성쪽으로만 한게 더 낫다.

침구,가구,건강기능,농수축,생활용품,속옷,의류,이미용,잡화,주방,침구

[LinregressResult(slope=0.00877448510539189, intercept=5.162280059006799, rvalue=0.3670465612788798, pvalue=0.371101539950457, stderr=0.00907825529099584),
 LinregressResult(slope=-0.23533624644352905, intercept=12.382631406687025, rvalue=-0.32206214741838224, pvalue=0.3341096551450621, stderr=0.23059440219362096),
 LinregressResult(slope=-0.007514238250508664, intercept=10.876603124688604, rvalue=-0.20204623253717008, pvalue=0.528865659412624, stderr=0.011518174525141886),
 LinregressResult(slope=-0.017876961342012793, intercept=25.447600623537102, rvalue=-0.3605746197732632, pvalue=0.24955945241775213, stderr=0.014623612303250376),
 LinregressResult(slope=0.027448343173070072, intercept=2.5609167960682013, rvalue=0.6140662051291463, pvalue=0.033655892297022566, stderr=0.011156244281990892),
 LinregressResult(slope=-0.01569393852646327, intercept=13.894427674375956, rvalue=-0.4440686726813979, pvalue=0.14812000630336605, stderr=0.010013509353091239),
 LinregressResult(slope=-0.01217841267686884, intercept=12.91713635715606, rvalue=-0.3248459007102071, pvalue=0.3028969300660898, stderr=0.011212370325622462),
 LinregressResult(slope=0.012029812798384084, intercept=-1.3104144683267709, rvalue=0.5299625826207941, pvalue=0.07634914617742358, stderr=0.00608723799437375),
 LinregressResult(slope=0.021853242769002645, intercept=2.331919086510335, rvalue=0.622637305580743, pvalue=0.030585960882027002, stderr=0.008685022794880487),
 LinregressResult(slope=-0.022744677738778404, intercept=12.538576848082846, rvalue=-0.22581164512218713, pvalue=0.48038090392112487, stderr=0.03102906161080599),
 LinregressResult(slope=0.00877448510539189, intercept=5.162280059006799, rvalue=0.3670465612788798, pvalue=0.371101539950457, stderr=0.00907825529099584)]

In [ ]:
result_mix_seoul = cor_with_categories(mix_weighted_seoul)
result_mix_seoul # 상관성이 도리어 떨어짐(단, 의류는 조금 오름. 남녀옷을 같이 팔아서 그런걸까?)

침구,가구,건강기능,농수축,생활용품,속옷,의류,이미용,잡화,주방,침구

[LinregressResult(slope=0.003202273442169263, intercept=1.3906820728986888, rvalue=0.3860434803190609, pvalue=0.34486810864376116, stderr=0.0031239480350988514),
 LinregressResult(slope=-0.07837013272596867, intercept=3.796534204585566, rvalue=-0.3344968921419924, pvalue=0.3146863353936601, stderr=0.07359885668122389),
 LinregressResult(slope=-0.002328717257212445, intercept=3.2159082022947807, rvalue=-0.19856972473772397, pvalue=0.5361284621801666, stderr=0.003634697328655084),
 LinregressResult(slope=-0.006438288895703058, intercept=8.600623247894575, rvalue=-0.4118152166169752, pvalue=0.1834662330100632, stderr=0.004505198098090036),
 LinregressResult(slope=0.009092198537785688, intercept=0.5195748513300831, rvalue=0.6450575292432051, pvalue=0.023512968597822, stderr=0.00340596351022419),
 LinregressResult(slope=-0.004916403026973366, intercept=4.170462224586856, rvalue=-0.4411600152696687, pvalue=0.15111239493989476, stderr=0.0031626502899769256),
 LinregressResult(slope=-0.0037665005342662, intercept=3.8452777636103583, rvalue=-0.3186069271411998, pvalue=0.3128143269682038, stderr=0.003543556428165379),
 LinregressResult(slope=0.003740047776994116, intercept=-0.5703108673444239, rvalue=0.5225092283263568, pvalue=0.08136335046316036, stderr=0.0019299481572422489),
 LinregressResult(slope=0.0070107015799051745, intercept=0.5044414143680456, rvalue=0.6334483441348071, pvalue=0.027007598608441253, stderr=0.002708136629155416),
 LinregressResult(slope=-0.007668714721471097, intercept=3.850629670567592, rvalue=-0.24144577236902967, pvalue=0.44964510226290233, stderr=0.009746757708890625),
 LinregressResult(slope=0.003202273442169263, intercept=1.3906820728986888, rvalue=0.3860434803190609, pvalue=0.34486810864376116, stderr=0.0031239480350988514)]

In [ ]:
population_woman_df

             1월여자인구수   2월여자인구수   3월여자인구수  ...  10월여자인구수  11월여자인구수  12월여자인구수
행정구역(시군구)별                                ...
서울특별시       0.096350  0.096419  0.096439  ...  0.096230  0.096205  0.096188
부산광역시       0.033723  0.033708  0.033695  ...  0.033583  0.033565  0.033543
울산광역시       0.010831  0.010822  0.010814  ...  0.010788  0.010783  0.010773
경기남         0.062767  0.062831  0.062885  ...  0.063370  0.063420  0.063478
경기북         0.062767  0.062831  0.062885  ...  0.063370  0.063420  0.063478
강원도         0.014780  0.014770  0.014770  ...  0.014781  0.014783  0.014782
광주광역시       0.014219  0.014211  0.014209  ...  0.014219  0.014216  0.014196
대구광역시       0.023963  0.023944  0.023928  ...  0.023832  0.023815  0.023786
대전광역시       0.014373  0.014365  0.014356  ...  0.014279  0.014266  0.014245

[9 rows x 12 columns]

# 미세먼지(수도권)

In [ ]:
population_woman_df = population_only_woman.set_index('행정구역(시군구)별')
population_woman_df

             1월여자인구수   2월여자인구수   3월여자인구수  ...  10월여자인구수  11월여자인구수  12월여자인구수
행정구역(시군구)별                                ...
서울특별시       0.096350  0.096419  0.096439  ...  0.096230  0.096205  0.096188
부산광역시       0.033723  0.033708  0.033695  ...  0.033583  0.033565  0.033543
울산광역시       0.010831  0.010822  0.010814  ...  0.010788  0.010783  0.010773
경기남         0.062767  0.062831  0.062885  ...  0.063370  0.063420  0.063478
경기북         0.062767  0.062831  0.062885  ...  0.063370  0.063420  0.063478
강원도         0.014780  0.014770  0.014770  ...  0.014781  0.014783  0.014782
광주광역시       0.014219  0.014211  0.014209  ...  0.014219  0.014216  0.014196
대구광역시       0.023963  0.023944  0.023928  ...  0.023832  0.023815  0.023786
대전광역시       0.014373  0.014365  0.014356  ...  0.014279  0.014266  0.014245

[9 rows x 12 columns]

In [ ]:
population_woman_sudo = population_woman_df.iloc[[0,3,4]]
population_woman_sudo

             1월여자인구수   2월여자인구수   3월여자인구수  ...  10월여자인구수  11월여자인구수  12월여자인구수
행정구역(시군구)별                                ...
서울특별시       0.096350  0.096419  0.096439  ...   0.09623  0.096205  0.096188
경기남         0.062767  0.062831  0.062885  ...   0.06337  0.063420  0.063478
경기북         0.062767  0.062831  0.062885  ...   0.06337  0.063420  0.063478

[3 rows x 12 columns]

In [ ]:
sudo_munji = pd.read_excel('/content/2019수도권먼지.xlsx')