<a href="https://colab.research.google.com/github/sungeun532/BigPyson/blob/master/Bigcon_Munji.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
from scipy import stats
import pandas as pd
import seaborn as sns

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [4]:
#munji = pd.read_excel('2019미세먼지.xlsx')
munji = pd.read_excel('/content/2019미세먼지.xlsx')

In [7]:
#population_only_total = pd.read_excel('2019총인구비율(수정).xlsx') # 지역별 인구수 ()
#population_only_woman = pd.read_excel('2019여성인구비율.xlsx')
population_only_total = pd.read_excel('/content/drive/My Drive/빅콘폴더/인구 미세먼지관련/2019총인구비율(수정).xlsx')
population_only_woman = pd.read_excel('/content/drive/My Drive/빅콘폴더/인구 미세먼지관련/2019여성인구비율.xlsx')
population_only_man = pd.read_excel('/content/drive/My Drive/빅콘폴더/인구 미세먼지관련/2019남자인구비율.xlsx')

In [23]:
sellData_re = pd.read_excel('/content/drive/My Drive/빅콘폴더/2019실적데이터.xlsx',header=1)
prepared = pd.read_excel('/content/drive/My Drive/빅콘폴더/prepared(먼지열추가).xlsx')
validation=pd.read_excel('/Validation.xlsx')

In [ ]:
prepared = prepared[prepared['취급액']!=50000] #취급액 5만원(실제론0)인거 제거
prepared

# 데이터 전처리

In [25]:
prepared[prepared['판매단가']==0] # 결측치 여전히 있나 확인해보기
prepared[prepared['노출(분)'].isnull()] # 노출(분)이 채워지지 않은놈
#위에 것들 다 처리 되어있음.

Empty DataFrame
Columns: [방송일시, 노출(분), 마더코드, 상품코드, 상품명, 상품군, 판매단가, 취급액, 날짜, 시간, 요일, 시, 주문량, holiday, 월, holiday(includeSS), 실제_서울_최고기온, 실제_서울_최저기온, 실제_서울_강수량(mm), 실제_서울_평균풍속(m/s), 실제_서울_날씨, 실제_수원_최고기온, 실제_수원_최저기온, 실제_수원_강수량(mm), 실제_수원_평균풍속(m/s), 실제_수원_날씨, 실제_파주_최고기온, 실제_파주_최저기온, 실제_파주_강수량(mm), 실제_파주_평균풍속(m/s), 실제_파주_날씨, 예보_서울_강수확률, 예보_서울_강수량, 예보_서울_하늘상태, 예보_서울_일최고기온, 예보_서울_일최저기온, 예보_일산_강수확률, 예보_일산_강수량, 예보_일산_일최고기온, 예보_일산_일최저기온, 예보_수원_강수확률, 예보_수원_강수량, 예보_수원_일최고기온, 예보_수원_일최저기온, 계절, DATE, 미세먼지(㎍/㎥), 오존(ppm), 이산화질소농도(ppm), 일산화탄소농도(ppm), 아황산가스농도(ppm), 초미세먼지(㎍/㎥)]
Index: []

In [ ]:
# Reindexing
prepared = prepared.reindex(range(len(prepared)))
prepared

일별분리

In [28]:
grouped_day_item = prepared.groupby(['상품군','DATE']).sum()
grouped_day_item

                노출(분)       마더코드  ...  아황산가스농도(ppm)  초미세먼지(㎍/㎥)
상품군 DATE                          ...
가구  20190201.0   60.0   901845.0  ...         5.292     0.04032
    20190204.0   60.0   901845.0  ...         4.824     0.03672
    20190206.0   60.0   901845.0  ...         7.056     0.04716
    20190208.0   60.0   901845.0  ...         4.464     0.03708
    20190212.0   60.0  1708500.0  ...        12.580     0.09656
...               ...        ...  ...           ...         ...
침구  20191111.0   60.0  1201716.0  ...         6.528     0.03552
    20191113.0   60.0  1201716.0  ...         8.400     0.04224
    20191119.0   60.0  1201716.0  ...         4.656     0.03888
    20191121.0   60.0  1201716.0  ...         8.496     0.04656
    20191124.0   60.0  1201716.0  ...         8.928     0.04656

[2805 rows x 43 columns]

In [29]:
grouped_day_item = grouped_day_item['취급액']/grouped_day_item['판매단가']
grouped_day_item = pd.DataFrame(grouped_day_item)
grouped_day_item

                         0
상품군 DATE
가구  20190201.0   31.446860
    20190204.0   27.996470
    20190206.0   33.227796
    20190208.0   40.482349
    20190212.0   16.901777
...                    ...
침구  20191111.0  107.198487
    20191113.0  121.070316
    20191119.0  123.328883
    20191121.0  135.743213
    20191124.0  120.481753

[2805 rows x 1 columns]

월별분리

In [32]:
grouped_month_item = prepared.groupby(['상품군','월']).mean()
grouped_month_item

              노출(분)           마더코드  ...  아황산가스농도(ppm)  초미세먼지(㎍/㎥)
상품군 월                               ...
가구  2.0    5.000000  100354.375000  ...      0.722640    0.005060
    3.0    4.723247  100412.553506  ...      0.711985    0.004790
    4.0    5.071429  100361.760714  ...      0.473686    0.003947
    5.0    4.609053  100299.827160  ...      0.484362    0.004594
    6.0    4.830508  100281.644068  ...      0.387492    0.003643
...             ...            ...  ...           ...         ...
침구  7.0    6.202186  100152.098361  ...      0.412590    0.003429
    8.0   10.000000  100261.750000  ...      0.438000    0.003520
    9.0    5.200000  100154.666667  ...      0.337867    0.003029
    10.0   5.882353  100374.058824  ...      0.453647    0.002995
    11.0   4.964286  100143.571429  ...      0.619429    0.003554

[127 rows x 43 columns]

In [46]:
categories = grouped_month_item.index.get_level_values(0).unique()
categories

Index(['가구', '가전', '건강기능', '농수축', '생활용품', '속옷', '의류', '이미용', '잡화', '주방', '침구'], dtype='object', name='상품군')

In [47]:
for i in categories:
  globals()['month_{}'.format(i)] = grouped_month_item.xs(i)['주문량']
month_가구

월
2.0     23.161003
3.0     19.138944
4.0     18.013451
5.0     16.559247
6.0     17.461582
7.0     20.095313
8.0     21.301611
9.0     24.749184
10.0    24.068045
11.0    20.949684
12.0    10.663432
Name: 주문량, dtype: float64

# 먼지 본격분석 (우선 월별자료  pm2.5_월별_도시별)

In [48]:
#필요 함수 정의
def weighted_munji(munji_data,population_data): #먼지DF, 인구DF주면 가중치먼지 계산해서 돌려줌
  weighted_df = pd.DataFrame()
  weighted_df = pd.DataFrame().reindex_like(munji_data)
  for i in range(len(munji_data.index)):
    for j in range(len(munji_data.columns)):
      weighted_df.iloc[i][j] = munji_data.iloc[i][j]*population_data.iloc[i][j]
  return weighted_df

def cor_with_categories(data): #모든 카테고리와의 상관계수 결과 반환해줌
  results = []
  results.append(stats.linregress(month_침구,data.iloc[month_침구.index-1]))
  results.append(stats.linregress(month_가구,data.iloc[month_가구.index-1]))
  results.append(stats.linregress(month_건강기능,data.iloc[month_건강기능.index-1]))
  results.append(stats.linregress(month_농수축,data.iloc[month_농수축.index-1]))
  results.append(stats.linregress(month_생활용품,data.iloc[month_생활용품.index-1]))
  results.append(stats.linregress(month_속옷,data.iloc[month_속옷.index-1]))
  results.append(stats.linregress(month_의류,data.iloc[month_의류.index-1]))
  results.append(stats.linregress(month_이미용,data.iloc[month_이미용.index-1]))
  results.append(stats.linregress(month_잡화,data.iloc[month_잡화.index-1]))
  results.append(stats.linregress(month_주방,data.iloc[month_주방.index-1]))
  results.append(stats.linregress(month_침구,data.iloc[month_침구.index-1]))
  print('침구,가구,건강기능,농수축,생활용품,속옷,의류,이미용,잡화,주방,침구')
  return results

In [34]:
print(munji) # 각 지역별 평균 미세먼지 양 수원=경기남 파주=경기북

     지역날짜  2019. 01  2019. 02  2019. 03  ...  2019. 09  2019. 10  2019. 11  2019. 12
0      서울        38        35        45  ...        12        15        20        28
1      부산        29        29        30  ...        13        13        17        23
2      울산        26        26        29  ...        13        11        15        20
3  수원(경기)        40        36        46  ...        13        16        21        29
4  파주(경기)        47        39        49  ...        15        20        27        35
5  강릉(강원)        23        25        32  ...        10        13        15        17
6      광주        33        34        39  ...        15        18        21        22
7      대구        33        32        33  ...        13        14        21        29
8      대전        35        36        39  ...        12        15        21        25

[9 rows x 13 columns]

In [35]:
munji_df = munji.set_index("지역날짜")
population_total_df = population_only_total.set_index('행정구역(시군구)별')

In [36]:
population_total_df,munji_df

(              1월총인구수    2월총인구수    3월총인구수  ...   10월총인구수   11월총인구수   12월총인구수
 행정구역(시군구)별                                ...
 서울특별시       0.188443  0.188527  0.188519  ...  0.187864  0.187792  0.187725
 부산광역시       0.066342  0.066303  0.066262  ...  0.065968  0.065926  0.065871
 울산광역시       0.022282  0.022262  0.022244  ...  0.022178  0.022169  0.022151
 경기남         0.126294  0.126429  0.126544  ...  0.127531  0.127620  0.127731
 경기북         0.126294  0.126429  0.126544  ...  0.127531  0.127620  0.127731
 강원도         0.029747  0.029723  0.029724  ...  0.029732  0.029742  0.029744
 광주광역시       0.028168  0.028156  0.028150  ...  0.028159  0.028150  0.028103
 대구광역시       0.047474  0.047430  0.047386  ...  0.047148  0.047111  0.047042
 대전광역시       0.028725  0.028704  0.028685  ...  0.028527  0.028498  0.028458

 [9 rows x 12 columns],
         2019. 01  2019. 02  2019. 03  ...  2019. 10  2019. 11  2019. 12
 지역날짜                                  ...
 서울            38        35        45  ...        15        20        28
 부산            29        29        30  ...        13        17        23
 울산            26        26        29  ...        11        15        20
 수원(경기)        40        36        46  ...        16        21        29
 파주(경기)        47        39        49  ...        20        27        35
 강릉(강원)        23        25        32  ...        13        15        17
 광주            33        34        39  ...        18        21        22
 대구            33        32        33  ...        14        21        29
 대전            35        36        39  ...        15        21        25

 [9 rows x 12 columns])

총 인구수만 고려, 위 두 행렬값들을 각각 곱한 결과

In [37]:
total_weighted_munji = pd.DataFrame().reindex_like(munji_df)
total_weighted_munji

        2019. 01  2019. 02  2019. 03  ...  2019. 10  2019. 11  2019. 12
지역날짜                                  ...
서울           NaN       NaN       NaN  ...       NaN       NaN       NaN
부산           NaN       NaN       NaN  ...       NaN       NaN       NaN
울산           NaN       NaN       NaN  ...       NaN       NaN       NaN
수원(경기)       NaN       NaN       NaN  ...       NaN       NaN       NaN
파주(경기)       NaN       NaN       NaN  ...       NaN       NaN       NaN
강릉(강원)       NaN       NaN       NaN  ...       NaN       NaN       NaN
광주           NaN       NaN       NaN  ...       NaN       NaN       NaN
대구           NaN       NaN       NaN  ...       NaN       NaN       NaN
대전           NaN       NaN       NaN  ...       NaN       NaN       NaN

[9 rows x 12 columns]

In [38]:
for i in range(9):
  for j in range(12):
    total_weighted_munji.iloc[i][j] = munji_df.iloc[i][j]*population_total_df.iloc[i][j]
total_weighted_munji

        2019. 01  2019. 02  2019. 03  ...  2019. 10  2019. 11  2019. 12
지역날짜                                  ...
서울      7.160824  6.598434  8.483334  ...  2.817959  3.755846  5.256309
부산      1.923918  1.922782  1.987847  ...  0.857583  1.120749  1.515029
울산      0.579328  0.578801  0.645063  ...  0.243959  0.332531  0.443026
수원(경기)  5.051741  4.551446  5.821010  ...  2.040495  2.680027  3.704204
파주(경기)  5.935795  4.930733  6.200641  ...  2.550619  3.445749  4.470591
강릉(강원)  0.684188  0.743081  0.951170  ...  0.386515  0.446125  0.505642
광주      0.929537  0.957296  1.097865  ...  0.506856  0.591152  0.618263
대구      1.566630  1.517771  1.563731  ...  0.660078  0.989328  1.364229
대전      1.005385  1.033332  1.118722  ...  0.427901  0.598462  0.711449

[9 rows x 12 columns]

In [39]:
result_munji_df = total_weighted_munji.sum()
result_munji_df

2019. 01    24.837347
2019. 02    22.833675
2019. 03    27.869383
2019. 04    13.450065
2019. 05    18.012409
2019. 06    12.980445
2019. 07    11.941034
2019. 08    11.264766
2019. 09     8.645412
2019. 10    10.491966
2019. 11    13.959968
2019. 12    18.588743
dtype: float64

In [58]:
# 전체 인구비율로 상관계수 알아보기

stats.linregress(result_munji_df,grouped_month_item.xs('건강기능')['주문량']) #건강기능 0.830
stats.linregress(result_munji_df,grouped_month_item.xs('주방')['주문량']) # 주방 0.528

LinregressResult(slope=-1.0895411848563235, intercept=211.45318263709186, rvalue=-0.20266076319508172, pvalue=0.5275862349782499, stderr=1.6648193566194802)

#상품군별로 월별 평균주문량 vs 월별 평균 미세먼지 비교

#여성 인구수만 고려

In [75]:
population_woman_df = population_only_woman.set_index('행정구역(시군구)별')
population_woman_df

             1월여자인구수   2월여자인구수   3월여자인구수  ...  10월여자인구수  11월여자인구수  12월여자인구수
행정구역(시군구)별                                ...
서울특별시       0.096350  0.096419  0.096439  ...  0.096230  0.096205  0.096188
부산광역시       0.033723  0.033708  0.033695  ...  0.033583  0.033565  0.033543
울산광역시       0.010831  0.010822  0.010814  ...  0.010788  0.010783  0.010773
경기남         0.062767  0.062831  0.062885  ...  0.063370  0.063420  0.063478
경기북         0.062767  0.062831  0.062885  ...  0.063370  0.063420  0.063478
강원도         0.014780  0.014770  0.014770  ...  0.014781  0.014783  0.014782
광주광역시       0.014219  0.014211  0.014209  ...  0.014219  0.014216  0.014196
대구광역시       0.023963  0.023944  0.023928  ...  0.023832  0.023815  0.023786
대전광역시       0.014373  0.014365  0.014356  ...  0.014279  0.014266  0.014245

[9 rows x 12 columns]

In [79]:
woman_weighted_df = weighted_munji(munji_df,population_woman_df)
woman_only_seoul = woman_weighted_df[woman_weighted_df.index=='서울']

In [52]:
woman_weighted_df = weighted_munji(munji_df,population_woman_df).sum() #함수호출 및 월별로 합계
woman_weighted_df

2019. 01    12.484569
2019. 02    11.481677
2019. 03    14.014574
2019. 04     6.766506
2019. 05     9.061288
2019. 06     6.532986
2019. 07     6.008642
2019. 08     5.665599
2019. 09     4.347492
2019. 10     5.275934
2019. 11     7.020567
2019. 12     9.352337
dtype: float64

In [80]:
woman_only_seoul = woman_only_seoul.transpose()
woman_only_seoul = woman_only_seoul.squeeze()
woman_only_seoul

2019. 01    3.661302
2019. 02    3.374661
2019. 03    4.339761
2019. 04    2.024950
2019. 05    2.795557
2019. 06    1.927374
2019. 07    1.830227
2019. 08    1.540497
2019. 09    1.155098
2019. 10    1.443447
2019. 11    1.924097
2019. 12    2.693254
Name: 서울, dtype: float64

#상품군 월별 주문량자료 생성(for 상관계수 비교)

In [54]:
categories = grouped_month_item.index.get_level_values(0).unique()
categories

Index(['가구', '가전', '건강기능', '농수축', '생활용품', '속옷', '의류', '이미용', '잡화', '주방', '침구'], dtype='object', name='상품군')

In [55]:
for i in categories:
  globals()['month_{}'.format(i)] = grouped_month_item.xs(i)['주문량']

In [56]:
woman_weighted_df.iloc[month_가구.index-1] # 특정월 판매자료가없는 상품군도 있기 떄문에, 해당 특성을 고려해서 먼지자료도 인덱싱 해야함. -1은 12월->11로 접근해야 하기 때문에... 한칸씩 앞당김

2019. 02    11.481677
2019. 03    14.014574
2019. 04     6.766506
2019. 05     9.061288
2019. 06     6.532986
2019. 07     6.008642
2019. 08     5.665599
2019. 09     4.347492
2019. 10     5.275934
2019. 11     7.020567
2019. 12     9.352337
dtype: float64

In [60]:
#각 상품군 월별 주문량과 상관계수 비교
result_woman_weight = cor_with_categories(woman_weighted_df)
result_woman_weight #건강기능 0.831 주방 0.528

침구,가구,건강기능,농수축,생활용품,속옷,의류,이미용,잡화,주방,침구

[LinregressResult(slope=0.008804339089882153, intercept=5.173641554785891, rvalue=0.3673450257034286, pvalue=0.37068265574829495, stderr=0.009100588829705701),
 LinregressResult(slope=-0.2350488888849329, intercept=12.394192747821815, rvalue=-0.32203418887344937, pvalue=0.33415402602322186, stderr=0.2303351440121037),
 LinregressResult(slope=-0.0016240767021061006, intercept=8.787273334983404, rvalue=-0.0690700163458236, pvalue=0.831099579803188, stderr=0.007417858785542716),
 LinregressResult(slope=-0.0394789054877488, intercept=46.01893255970795, rvalue=-0.5776453573053904, pvalue=0.049188896610406325, stderr=0.017641972662073332),
 LinregressResult(slope=0.025100776629633753, intercept=3.1069859304451706, rvalue=0.5809788933659065, pvalue=0.047590360261112595, stderr=0.01112007687718743),
 LinregressResult(slope=-0.015770456967003417, intercept=13.930366469043154, rvalue=-0.4463497521853611, pvalue=0.1458000419644252, stderr=0.00999823618612204),
 LinregressResult(slope=-0.010755086868435617, intercept=12.421234393159736, rvalue=-0.2954311524507498, pvalue=0.3511952547942251, stderr=0.010998324286712637),
 LinregressResult(slope=0.01152442042421871, intercept=-0.9296115678361954, rvalue=0.522816684713327, pvalue=0.08115219622060826, stderr=0.005942047141466271),
 LinregressResult(slope=0.02030807272428242, intercept=2.6115287522238786, rvalue=0.6162930715887991, pvalue=0.03283796760244792, stderr=0.0082061849492812),
 LinregressResult(slope=-0.018901410935739108, intercept=11.83000814170753, rvalue=-0.20215379815880863, pvalue=0.5286416169632898, stderr=0.028956890653416716),
 LinregressResult(slope=0.008804339089882153, intercept=5.173641554785891, rvalue=0.3673450257034286, pvalue=0.37068265574829495, stderr=0.009100588829705701)]

In [81]:
# 오직 서울 여성으로만 비교했을때 
result_woman_seoul = cor_with_categories(woman_only_seoul)
result_woman_seoul #건강기능 0.808 주방 0.496

침구,가구,건강기능,농수축,생활용품,속옷,의류,이미용,잡화,주방,침구

[LinregressResult(slope=0.0032316759324689678, intercept=1.4039189567194468, rvalue=0.386111331761066, pvalue=0.3447759868138972, stderr=0.0031519803143008037),
 LinregressResult(slope=-0.07877480079343537, intercept=3.8251820628758724, rvalue=-0.33438197379341666, pvalue=0.3148629855390117, stderr=0.07400751512227356),
 LinregressResult(slope=-0.0005856141663960035, intercept=2.6159332801452178, rvalue=-0.07846036435728161, pvalue=0.8084900497426247, stderr=0.0023529914941759033),
 LinregressResult(slope=-0.013696180778488378, intercept=15.52402744967865, rvalue=-0.6313226737062609, pvalue=0.027685960116546223, stderr=0.005320362741674956),
 LinregressResult(slope=0.008405710294098112, intercept=0.697800973069995, rvalue=0.6129193578654464, pvalue=0.03408277200572681, stderr=0.0034267161660771093),
 LinregressResult(slope=-0.004965619717193959, intercept=4.207006895260109, rvalue=-0.4427516631167867, pvalue=0.14947018040670262, stderr=0.0031800462618026674),
 LinregressResult(slope=-0.003388562703314516, intercept=3.7326691690622678, rvalue=-0.2932335219309061, pvalue=0.3549591628314569, stderr=0.0034936416618204357),
 LinregressResult(slope=0.0035958574154029603, intercept=-0.44602443270793657, rvalue=0.513911731704358, pvalue=0.08742021036546391, stderr=0.001898111749763149),
 LinregressResult(slope=0.006483483879663244, intercept=0.6186812901107606, rvalue=0.6198444755543786, pvalue=0.03156318173776661, stderr=0.0025956313629459963),
 LinregressResult(slope=-0.006475757476434922, intercept=3.647258181642535, rvalue=-0.2181895672607272, pvalue=0.4957048491159979, stderr=0.009159352290560455),
 LinregressResult(slope=0.0032316759324689678, intercept=1.4039189567194468, rvalue=0.386111331761066, pvalue=0.3447759868138972, stderr=0.0031519803143008037)]

#여성:남성 비율 조정해서 곱해보기
홈쇼핑 이용성비 8:2정도라면 반영해보기

In [63]:
population_only_man,population_only_woman

(  행정구역(시군구)별  1월남자인구비율  2월남자인구비율  ...  10월남자인구비율  11월남자인구비율  12월남자인구비율
 0      서울특별시  0.092093  0.092108  ...   0.091634   0.091587   0.091538
 1      부산광역시  0.032619  0.032595  ...   0.032384   0.032361   0.032328
 2      울산광역시  0.011450  0.011439  ...   0.011391   0.011386   0.011379
 3        경기남  0.063527  0.063598  ...   0.064161   0.064201   0.064253
 4        경기북  0.063527  0.063598  ...   0.064161   0.064201   0.064253
 5        강원도  0.014967  0.014954  ...   0.014951   0.014959   0.014961
 6      광주광역시  0.013949  0.013944  ...   0.013940   0.013934   0.013907
 7      대구광역시  0.023511  0.023486  ...   0.023317   0.023295   0.023256
 8      대전광역시  0.014353  0.014339  ...   0.014248   0.014232   0.014213

 [9 rows x 13 columns],
   행정구역(시군구)별   1월여자인구수   2월여자인구수  ...  10월여자인구수  11월여자인구수  12월여자인구수
 0      서울특별시  0.096350  0.096419  ...  0.096230  0.096205  0.096188
 1      부산광역시  0.033723  0.033708  ...  0.033583  0.033565  0.033543
 2      울산광역시  0.010831  0.010822  ...  0.010788  0.010783  0.010773
 3        경기남  0.062767  0.062831  ...  0.063370  0.063420  0.063478
 4        경기북  0.062767  0.062831  ...  0.063370  0.063420  0.063478
 5        강원도  0.014780  0.014770  ...  0.014781  0.014783  0.014782
 6      광주광역시  0.014219  0.014211  ...  0.014219  0.014216  0.014196
 7      대구광역시  0.023963  0.023944  ...  0.023832  0.023815  0.023786
 8      대전광역시  0.014373  0.014365  ...  0.014279  0.014266  0.014245

 [9 rows x 13 columns])

In [64]:
population_man_df = population_only_man.set_index('행정구역(시군구)별')
population_man_df

            1월남자인구비율  2월남자인구비율  3월남자인구비율  ...  10월남자인구비율  11월남자인구비율  12월남자인구비율
행정구역(시군구)별                                ...
서울특별시       0.092093  0.092108  0.092079  ...   0.091634   0.091587   0.091538
부산광역시       0.032619  0.032595  0.032566  ...   0.032384   0.032361   0.032328
울산광역시       0.011450  0.011439  0.011430  ...   0.011391   0.011386   0.011379
경기남         0.063527  0.063598  0.063659  ...   0.064161   0.064201   0.064253
경기북         0.063527  0.063598  0.063659  ...   0.064161   0.064201   0.064253
강원도         0.014967  0.014954  0.014954  ...   0.014951   0.014959   0.014961
광주광역시       0.013949  0.013944  0.013941  ...   0.013940   0.013934   0.013907
대구광역시       0.023511  0.023486  0.023458  ...   0.023317   0.023295   0.023256
대전광역시       0.014353  0.014339  0.014330  ...   0.014248   0.014232   0.014213

[9 rows x 12 columns]

In [65]:
mix_weighted_munji = 0.2*weighted_munji(munji_df,population_man_df) + 0.8*weighted_munji(munji_df,population_woman_df)
mix_weighted_munji

        2019. 01  2019. 02  2019. 03  ...  2019. 10  2019. 11  2019. 12
지역날짜                                  ...
서울      3.628946  3.344483  4.300523  ...  1.429660  1.905628  2.667214
부산      0.971562  0.971081  1.004084  ...  0.433468  0.566514  0.765903
울산      0.284835  0.284589  0.317172  ...  0.119989  0.163550  0.217877
수원(경기)  2.516746  2.267440  2.899827  ...  1.016450  1.335093  1.845360
파주(경기)  2.957177  2.456393  3.088946  ...  1.270563  1.716548  2.227159
강릉(강원)  0.340806  0.370161  0.473818  ...  0.192596  0.222272  0.251909
광주      0.467448  0.481370  0.552072  ...  0.254935  0.297348  0.311040
대구      0.787790  0.763279  0.786513  ...  0.332200  0.497939  0.686724
대전      0.502900  0.516944  0.559667  ...  0.214093  0.299443  0.355964

[9 rows x 12 columns]

In [66]:
mix_weighted_df = mix_weighted_munji.sum()
mix_weighted_df

2019. 01    12.458211
2019. 02    11.455741
2019. 03    13.982621
2019. 04     6.749916
2019. 05     9.039254
2019. 06     6.515881
2019. 07     5.993392
2019. 08     5.652313
2019. 09     4.337577
2019. 10     5.263954
2019. 11     7.004334
2019. 12     9.329150
dtype: float64

In [67]:
mix_weighted_seoul  = mix_weighted_munji[mix_weighted_munji.index=='서울']
mix_weighted_seoul = mix_weighted_seoul.transpose()
mix_weighted_seoul = mix_weighted_seoul.squeeze()
mix_weighted_seoul

2019. 01    3.628946
2019. 02    3.344483
2019. 03    4.300523
2019. 04    2.006478
2019. 05    2.769829
2019. 06    1.909490
2019. 07    1.813128
2019. 08    1.525994
2019. 09    1.144122
2019. 10    1.429660
2019. 11    1.905628
2019. 12    2.667214
Name: 서울, dtype: float64

In [68]:
result_mix_df = cor_with_categories(mix_weighted_df)
result_mix_df #  여8 남2 혼합시. 건강기능0.831,  주방0.528

침구,가구,건강기능,농수축,생활용품,속옷,의류,이미용,잡화,주방,침구

[LinregressResult(slope=0.008774485105391897, intercept=5.1622800590068, rvalue=0.3670465612788795, pvalue=0.37110153995045725, stderr=0.009078255290995855),
 LinregressResult(slope=-0.2343435497972667, intercept=12.361835088001953, rvalue=-0.32178761018865315, pvalue=0.3345454873748945, stderr=0.22984027316397956),
 LinregressResult(slope=-0.0016253581435348744, intercept=8.76861009675458, rvalue=-0.06927191102445644, pvalue=0.8306121705579408, stderr=0.007401971223948967),
 LinregressResult(slope=-0.03939275094091497, intercept=45.91717791667361, rvalue=-0.5776138103823641, pvalue=0.04920420225848175, stderr=0.017604915568491617),
 LinregressResult(slope=0.025045885753171064, intercept=3.098900644559502, rvalue=0.5809445288932236, pvalue=0.047606649864388194, stderr=0.011096750021132022),
 LinregressResult(slope=-0.015738084401592883, intercept=13.899385089923978, rvalue=-0.4463833273831879, pvalue=0.14576606989919846, stderr=0.009976775249190417),
 LinregressResult(slope=-0.010737612098487483, intercept=12.395171143071009, rvalue=-0.29558007275599246, pvalue=0.3509409691481755, stderr=0.010974392923170595),
 LinregressResult(slope=0.011497582588529068, intercept=-0.92757809241294, rvalue=0.5227113832815417, pvalue=0.08122447286316203, stderr=0.005929852835323709),
 LinregressResult(slope=0.020260262390670972, intercept=2.6054572239364866, rvalue=0.6161532106130649, pvalue=0.03288891447962272, stderr=0.008189861749663324),
 LinregressResult(slope=-0.018880053983736374, intercept=11.8067179161708, rvalue=-0.20235595421132055, pvalue=0.528220667316033, stderr=0.028894044477614275),
 LinregressResult(slope=0.008774485105391897, intercept=5.1622800590068, rvalue=0.3670465612788795, pvalue=0.37110153995045725, stderr=0.009078255290995855)]

In [70]:
result_mix_seoul = cor_with_categories(mix_weighted_seoul)
result_mix_seoul # 혼합하고 서울로만 했을때 건강기능 0.807 주방 0.495

침구,가구,건강기능,농수축,생활용품,속옷,의류,이미용,잡화,주방,침구

[LinregressResult(slope=0.0032022734421692646, intercept=1.3906820728986893, rvalue=0.38604348031906055, pvalue=0.34486810864376155, stderr=0.0031239480350988566),
 LinregressResult(slope=-0.07799733904215571, intercept=3.7887792339955917, rvalue=-0.3340309766726226, pvalue=0.31540286242560994, stderr=0.07336379016610778),
 LinregressResult(slope=-0.0005836642597600733, intercept=2.593128558605262, rvalue=-0.07888631584073343, pvalue=0.8074675221710561, stderr=0.0023324153228805843),
 LinregressResult(slope=-0.013581511371939272, intercept=15.392024860581955, rvalue=-0.6315385070456238, pvalue=0.027616526353816298, stderr=0.005272820454879026),
 LinregressResult(slope=0.00833538122207779, intercept=0.6899195505214486, rvalue=0.6131323267482073, pvalue=0.03400320923115347, stderr=0.0033961547467463034),
 LinregressResult(slope=-0.004922866246855222, intercept=4.169323518143237, rvalue=-0.44279693665838427, pvalue=0.14942363646089155, stderr=0.003152265450303844),
 LinregressResult(slope=-0.0033612771433033945, intercept=3.69981711789722, rvalue=-0.29342846353034463, pvalue=0.35462442251309956, stderr=0.003462990968229987),
 LinregressResult(slope=0.0035625694513441073, intercept=-0.44180798314932623, rvalue=0.5136286447395674, pvalue=0.08762467895355872, stderr=0.0018819486406956257),
 LinregressResult(slope=0.006424690020994575, intercept=0.6127060708115655, rvalue=0.6196212523743625, pvalue=0.03164224389470552, stderr=0.002573598110081042),
 LinregressResult(slope=-0.0064334846459540695, intercept=3.617006597045096, rvalue=-0.2186701491757016, pvalue=0.49473223189607385, stderr=0.009078561977234587),
 LinregressResult(slope=0.0032022734421692646, intercept=1.3906820728986893, rvalue=0.38604348031906055, pvalue=0.34486810864376155, stderr=0.0031239480350988566)]

In [ ]:
population_woman_df

             1월여자인구수   2월여자인구수   3월여자인구수  ...  10월여자인구수  11월여자인구수  12월여자인구수
행정구역(시군구)별                                ...
서울특별시       0.096350  0.096419  0.096439  ...  0.096230  0.096205  0.096188
부산광역시       0.033723  0.033708  0.033695  ...  0.033583  0.033565  0.033543
울산광역시       0.010831  0.010822  0.010814  ...  0.010788  0.010783  0.010773
경기남         0.062767  0.062831  0.062885  ...  0.063370  0.063420  0.063478
경기북         0.062767  0.062831  0.062885  ...  0.063370  0.063420  0.063478
강원도         0.014780  0.014770  0.014770  ...  0.014781  0.014783  0.014782
광주광역시       0.014219  0.014211  0.014209  ...  0.014219  0.014216  0.014196
대구광역시       0.023963  0.023944  0.023928  ...  0.023832  0.023815  0.023786
대전광역시       0.014373  0.014365  0.014356  ...  0.014279  0.014266  0.014245

[9 rows x 12 columns]

# 미세먼지(수도권)

In [61]:
population_woman_df = population_only_woman.set_index('행정구역(시군구)별')
population_woman_df

             1월여자인구수   2월여자인구수   3월여자인구수  ...  10월여자인구수  11월여자인구수  12월여자인구수
행정구역(시군구)별                                ...
서울특별시       0.096350  0.096419  0.096439  ...  0.096230  0.096205  0.096188
부산광역시       0.033723  0.033708  0.033695  ...  0.033583  0.033565  0.033543
울산광역시       0.010831  0.010822  0.010814  ...  0.010788  0.010783  0.010773
경기남         0.062767  0.062831  0.062885  ...  0.063370  0.063420  0.063478
경기북         0.062767  0.062831  0.062885  ...  0.063370  0.063420  0.063478
강원도         0.014780  0.014770  0.014770  ...  0.014781  0.014783  0.014782
광주광역시       0.014219  0.014211  0.014209  ...  0.014219  0.014216  0.014196
대구광역시       0.023963  0.023944  0.023928  ...  0.023832  0.023815  0.023786
대전광역시       0.014373  0.014365  0.014356  ...  0.014279  0.014266  0.014245

[9 rows x 12 columns]

In [62]:
population_woman_sudo = population_woman_df.iloc[[0,3,4]]
population_woman_sudo

             1월여자인구수   2월여자인구수   3월여자인구수  ...  10월여자인구수  11월여자인구수  12월여자인구수
행정구역(시군구)별                                ...
서울특별시       0.096350  0.096419  0.096439  ...   0.09623  0.096205  0.096188
경기남         0.062767  0.062831  0.062885  ...   0.06337  0.063420  0.063478
경기북         0.062767  0.062831  0.062885  ...   0.06337  0.063420  0.063478

[3 rows x 12 columns]

In [ ]:
# sudo_munji = pd.read_excel('/content/2019수도권먼지.xlsx')

# 일별 미세먼지 자료로 분석

In [87]:
munji_byday = pd.read_excel('/content/drive/My Drive/빅콘폴더/인구 미세먼지관련/2019일별미세먼지.xlsx')

In [88]:
munji_byday

         측정일자  미세먼지(㎍/㎥)  오존(ppm)  ...  일산화탄소농도(ppm)  아황산가스농도(ppm)  초미세먼지(㎍/㎥)
0    20190101      39.36    26.12  ...       0.03156         0.692     0.00428
1    20190102      33.08    21.36  ...       0.03524         0.676     0.00464
2    20190103      38.80    23.36  ...       0.04344         0.736     0.00504
3    20190104      59.44    40.36  ...       0.05896         1.060     0.00600
4    20190105      65.72    42.52  ...       0.02812         0.644     0.00512
..        ...        ...      ...  ...           ...           ...         ...
351  20191227      34.16    23.36  ...       0.02608         0.532     0.00328
352  20191228      42.04    24.72  ...       0.04324         0.676     0.00372
353  20191229      45.36    27.48  ...       0.03732         0.660     0.00348
354  20191230      36.76    25.68  ...       0.03304         0.628     0.00308
355  20191231      24.44    14.92  ...       0.01600         0.380     0.00284

[356 rows x 7 columns]